# Plotting with Julia Part 2

#### More Ways we can Plot Data
- Outline:
    - More Plot Types
    - Data Frames
        
https://docs.juliaplots.org/latest/tutorial/

https://www.tutorialspoint.com/julia/julia_plotting.htm

In [ ]:
#To start using the Plots package, type the following command 

using Plots

### Pie Charts:

In [ ]:
X = ["Monday", "Tuesday", "Wednesday", "Thrusday", "Friday","Saturday","Sunday"];
Y = [11, 11, 15, 13, 12, 13, 10]
 
P = pie(X,Y)

### Bar/Histograms Charts:

In [ ]:
X = ["Nicolas", "Nolan", "Tyler", "Taylor", "Sauna","Kaiden",];
Y = [17, 15, 16, 16, 17, 14,]
p = bar(X,Y)

### Data Frames
DataFrame may be defined as a table or spreadsheet which we can be used to sort as well as explore a set of related data values.

https://www.tutorialspoint.com/julia/julia_data_frames.htm

We need to download and install DataFrame packages as follows − Run this code in Julia

- pkg> add DataFrames

In [5]:
#To start using the DataFrames package, type the following command 

using DataFrames

In [ ]:
#One Way of Making

df = DataFrame(X = 1:10, Y = 21:30)

In [ ]:
#This way will not work like with plots

X = 1:10
Y = 21:30
df = DataFrame(X, Y)

In [6]:
#Note The data Types(float, int, string) are indicated when running code

df = DataFrame(W=5.0, H=5, M="Mike")

1×3 DataFrame
 Row │ W        H      M
     │ Float64  Int64  String
─────┼────────────────────────
   1 │     5.0      5  Mike

In [11]:
#Note How the layout of the Data Frame is Set Up

df = DataFrame(Names=["EDS","FAMU","FAU","FGCU","FIU","FSU","NCOF","PST","SFC","TCC","UOCF","UOF","UNOF","UOSF","UOSF"], Whole=[17107, 13204, 25246, 12851, 44616, 41067,845, 11531,15493,15090, 58465, 49589, 16198, 4310, 11982], Integers=[4, 14, 4, 3, 9, 31, 1, 3,1,2, 26,18, 2,2,2])

15×3 DataFrame
 Row │ Names   Whole  Integers
     │ String  Int64  Int64
─────┼─────────────────────────
   1 │ EDS     17107         4
   2 │ FAMU    13204        14
   3 │ FAU     25246         4
   4 │ FGCU    12851         3
   5 │ FIU     44616         9
   6 │ FSU     41067        31
   7 │ NCOF      845         1
   8 │ PST     11531         3
   9 │ SFC     15493         1
  10 │ TCC     15090         2
  11 │ UOCF    58465        26
  12 │ UOF     49589        18
  13 │ UNOF    16198         2
  14 │ UOSF     4310         2
  15 │ UOSF    11982         2

In [ ]:
#You can indicated what type of data we are looking for

df = DataFrame(Name=String["Bob", "Carl", "TT"], Whole=Float64[5.5,6.3,7.5],Integers=Int64[8,5,4])

In [ ]:
#This Wont Work, Why

df = DataFrame(N=[S4, 45, 11], W=["Bob", "Carl", "TT"], I=[8.3,5.6,4.7])

#### Activity 1: 

Compelte ACTIVITY 6.3: THE "HOT HAND" IN BASKETBALL
And Fill out a Data Frame

- Use the rand Function to get your 50 data points

In [ ]:
x = (rand(1)+50;

In [ ]:
#make 50 data points random fl
x = (rand()1) + 50;

#### Activity 2: 

And Fill out a Data Frame,
- Include Names Data and Precent

In [ ]:
Trials = DataFrame(Data = !PUT DATA HERE!)